# Airflow DB 연결
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@db/airflow_db

# 실행기 설정
AIRFLOW__CORE__EXECUTOR=LocalExecutor

# 기타 설정
AIRFLOW__CORE__FERNET_KEY=your_fernet_key
AIRFLOW__WEBSERVER__SECRET_KEY=your_webserver_key
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True
AIRFLOW__CORE__LOAD_EXAMPLES=False

# 관리자 계정 정보
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Air
AIRFLOW_ADMIN_LASTNAME=Flow
AIRFLOW_ADMIN_EMAIL=admin@example.com